* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}

html,body {
    height: 100%;
    width: 100%;
}
main{
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  width: 40%;
  height: 90vh;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  position: relative;
}
.card div{
  width: 100%;
  height: 90%;
  overflow: hidden;
  border-radius: 10px;
  padding-bottom: 10px;
}
.card div img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
   pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}
.card #like{
position: absolute;
top: 60%;
left: 50%;
font-size: 90px;
background-image: url(https://tse1.mm.bing.net/th/id/OIP.phKCwPsqL8UkrBhtBDwhAAHaE8?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3);
background-size:cover;
background-clip:text;
color: transparent;
opacity: 0;
transform: translate(-50%,-50%) scale(0) rotate(-60deg);
transition: all cubic-bezier(.65,1,.77,1.44) 0.4s;
}
.card h2{
  font-size: 8vh;
  text-align: center;
  text-shadow: 4px 4px gray;
}
